* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 30px 10px;
}

h2 {
  padding: 20px 10px;
}

h3 {
  padding: 10px 10px;
}

ul {
  text-decoration: none;
  list-style: none;
}

.form {
  padding: 40px 20px;
}

.form-label {
  color: blue;
}

.form-text {
  padding: 10px 0px;
}
.min-100-vh {
  min-height: 100vh;
}

.row {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  margin-top: 10px;
}

.room-card {
  height: 100%;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
}

.room-query-card {
  margin-bottom: 20px;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.3);
}

.room-query-card-title {
  font-weight: bold;
}

.room-query-item-title {
  font-weight: bold;
}

.no-border {
  border: none;
  padding: 0;
  margin-right: 10px;
}

.reservations-table {
  font-size: 0.8em;
}
